@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to CourseNest!</h1>
    <br /><br />
    <a href="/students/add">add a student</a>
    <br /><br />
    <a href="/teachers/add">add a teacher</a>
    <br /><br />
    <a href="/courses/add">add a course</a>
</div>
